################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CountryMobileApp/CountryMobileApp/obj/Debug/netstandard2.0
